<?xml version="1.0"?>
<Config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<Default>
		<!--Ka50, Hx-->
		<DefaultDynamicModel Value="Ka52"/>
		<!--Ethernet-->
		<DefaultControlElement Value="Joystick">
			<Rus Guid="0402044f-0000-0000-0000-504944564944"/>
			<Rud Guid="0404044f-0000-0000-0000-504944564944"/>
		</DefaultControlElement>
	</Default>
	<NetworkSettings>
		<Model>
			<Command>
				<IPPoint Port="20030" Ip="127.0.0.1"/>
			</Command>
			<ControlElement>
				<IPPoint Port="20031" Ip="127.0.0.1"/>
			</ControlElement>
			<State>
				<IPPoint Port="20032" Ip="127.0.0.1"/>
			</State>
		</Model>
		<IupVaps>
			<ControlElement>
				<IPPoint Port="20040" Ip="192.168.0.2"/>
			</ControlElement>
			<DynamicModel>
				<IPPoint Port="20041" Ip="192.168.0.2"/>
				<IPPoint Port="20041" Ip="192.168.0.1"/>
			</DynamicModel>
			<Route>
				<IPPoint Port="20044" Ip="192.168.0.2"/>
				<IPPoint Port="20044" Ip="192.168.0.1"/>
			</Route>
			<Landing>
				<IPPoint Port="20045" Ip="192.168.0.2"/>
				<IPPoint Port="20045" Ip="192.168.0.1"/>
			</Landing>
		</IupVaps>
		<Iup>
			<DynamicModel>
				<IPPoint Port="20050" Ip="192.168.0.2"/>
			</DynamicModel>
		</Iup>
		<TacticalEditor>
			<DynamicModel>
				<IPPoint Port="20060" Ip="192.168.0.1"/>
			</DynamicModel>
		</TacticalEditor>
		<Svvo>
			<Route>
				<IPPoint Port="20070" Ip="192.168.0.1"/>
				<IPPoint Port="20070" Ip="192.168.0.2"/>
				<IPPoint Port="20070" Ip="192.168.0.3"/>
				<IPPoint Port="20070" Ip="192.168.0.4"/>
				<IPPoint Port="20070" Ip="192.168.0.6"/>
			</Route>
		</Svvo>
		<Lptp>
			<DynamicModel>
				<IPPoint Port="20080" Ip="192.168.0.2"/>
			</DynamicModel>
		</Lptp>
		<Bpmi>
			<DynamicModel>
				<IPPoint Port="20090" Ip="192.168.0.1"/>
			</DynamicModel>
		</Bpmi>
	</NetworkSettings>
</Config>